<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/css/<%= @stylesheet %>" rel="stylesheet">
    <title>Favorite Things</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
